# Imágenes y gráficos
static/
*.png

#  Python cache
__pycache__/
*.py[cod]
*.pyo

# Modelos entrenados
models/modelo/

# Entorno virtual
venv/
env/
.venv/
.env/

# Archivos de instalación
*.egg-info/
dist/
build/

#  Archivos de bases de datos temporales
*.db

# Config de VS Code 
.vscode/
