# Archivos sensibles
.env
config/config.py  

# Imágenes y gráficos
imagenes/
*.png

# Archivos de datos
data/*.xlsx

#  Python cache
__pycache__/
*.py[cod]
*.pyo

# Entorno virtual
venv/
env/
.venv/
.env/

# Archivos de instalación
*.egg-info/
dist/
build/

#  Archivos de bases de datos temporales
*.db

# Config de VS Code 
.vscode/
